INDOX_BASE_URL=http://localhost:41000
INDOX_PUBLIC_BASE_URL=https://indox.org
INDOX_GIT_USER=nematiai
INDOX_SDK_VERSION=0.4.0
INDOX_OPENAPI_GENERATOR_IMAGE=openapitools/openapi-generator-cli:v7.11.0
INDOX_CREDS_FILE=/path/to/creds.json
