{
  "openapi": "3.0.3",
  "info": {
    "title": "Indox API v1 (public SDK)",
    "version": "1.0.0",
    "description": "Filtered public allowlist for official SDKs (P0\u2013P3 + ADV). DRF converter routes merge from openapi-drf.json when available.",
    "license": {
      "name": "LicenseRef-Proprietary",
      "url": "https://indox.org/terms"
    }
  },
  "servers": [
    {
      "url": "https://indox.org"
    }
  ],
  "paths": {
    "/api/v1/convert/image/conversion/{conversion_id}/": {
      "get": {
        "operationId": "convert_image_conversion_retrieve",
        "description": "Return details for a stored conversion.",
        "summary": "Retrieve conversion info",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "image_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageConversionDetail"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion not found."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/image/convert/": {
      "post": {
        "operationId": "convert_image_convert_create",
        "description": "Upload an image file (multipart/form-data) OR provide a remote reference. Send exactly one of: 'file' or ('file_url' or 's3_key').\n\n- file_url: a public or pre-signed URL the worker can GET.\n- s3_key: S3 object key in your bucket (worker downloads via IAM).\nWhen hiding, the service will delete any stored output and the original S3 object if 's3_key' was provided.",
        "summary": "Convert an image",
        "tags": [
          "image_converter"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageConvert"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageConvert"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrl"
                }
              }
            },
            "description": "Conversion succeeded."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation or fetch error."
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Free quota exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion failure."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/image/formats/": {
      "get": {
        "operationId": "convert_image_formats_retrieve",
        "description": "Expose supported formats (from static JSON summary).",
        "summary": "List image formats",
        "tags": [
          "image_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "description": "Static image formats summary."
          },
          "404": {
            "description": "operations-new.json not found"
          },
          "500": {
            "description": "Failed to load formats summary"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/image/history/": {
      "get": {
        "operationId": "convert_image_history_retrieve",
        "description": "Return paginated conversion history for an authenticated media user.",
        "summary": "List conversion history",
        "tags": [
          "image_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageConversionHistoryResponse"
                }
              }
            },
            "description": ""
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/image/operations/": {
      "get": {
        "operationId": "convert_image_operations_retrieve",
        "description": "Return image operations enriched with dynamic options.\n\nReads engines/operations.json and attaches a per-format option set and\nengine version info, returning a CloudConvert-like response format.",
        "summary": "List image operations",
        "parameters": [
          {
            "in": "query",
            "name": "engine",
            "schema": {
              "type": "string"
            },
            "description": "Engine filter (e.g., imagemagick, pillow)"
          },
          {
            "in": "query",
            "name": "input",
            "schema": {
              "type": "string"
            },
            "description": "Input format (e.g., png)"
          },
          {
            "in": "query",
            "name": "options_only",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, return only the options for the first matching operation"
          },
          {
            "in": "query",
            "name": "output",
            "schema": {
              "type": "string"
            },
            "description": "Output format (e.g., jpg)"
          }
        ],
        "tags": [
          "image_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageOperationsResponse"
                }
              }
            },
            "description": ""
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/model/conversion/{conversion_id}/": {
      "get": {
        "operationId": "convert_model_conversion_retrieve",
        "description": "Return details for a stored 3D model conversion.",
        "summary": "Retrieve 3D model conversion info",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "model_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelConversionDetail"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion not found."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/model/convert/": {
      "post": {
        "operationId": "convert_model_convert_create",
        "description": "Upload a 3D model file (multipart/form-data) OR provide a remote reference. Send exactly one of: 'file' or ('file_url' or 's3_key').",
        "summary": "Convert a 3D model",
        "tags": [
          "model_converter"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ModelConvert"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelConvert"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrl"
                }
              }
            },
            "description": "Conversion accepted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error."
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Free quota exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion failure."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/model/formats/": {
      "get": {
        "operationId": "convert_model_formats_retrieve",
        "description": "Expose supported 3D model input/output formats.",
        "summary": "List 3D model formats",
        "tags": [
          "model_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelSupportedFormats"
                }
              }
            },
            "description": ""
          },
          "500": {
            "description": "Failed to load formats summary"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/model/operations/": {
      "get": {
        "operationId": "convert_model_operations_retrieve",
        "description": "Return 3D model operations from the engine operations map.",
        "summary": "List 3D model operations",
        "parameters": [
          {
            "in": "query",
            "name": "engine",
            "schema": {
              "type": "string"
            },
            "description": "Engine filter (e.g., assimp)"
          },
          {
            "in": "query",
            "name": "input",
            "schema": {
              "type": "string"
            },
            "description": "Input format (e.g., obj, fbx)"
          },
          {
            "in": "query",
            "name": "options_only",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, return only the options for the first matching operation"
          },
          {
            "in": "query",
            "name": "output",
            "schema": {
              "type": "string"
            },
            "description": "Output format (e.g., glb, stl)"
          }
        ],
        "tags": [
          "model_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelOperationsResponse"
                }
              }
            },
            "description": ""
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/video/convert/": {
      "post": {
        "operationId": "convert_video_convert_create",
        "description": "Upload a video file (multipart/form-data) OR provide a remote reference. Send exactly one of: 'file' or ('file_url' or 's3_key').\n\n- file_url: a public or pre-signed URL the worker can GET.\n- s3_key: S3 object key in your bucket (worker downloads via IAM).\nWhen hiding, the service will delete any stored output and the original S3 object if 's3_key' was provided.",
        "summary": "Convert a video",
        "tags": [
          "video_converter"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/VideoConvert"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoConvert"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrl"
                }
              }
            },
            "description": "Conversion succeeded."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error."
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Free quota exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion failure."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/convert/video/formats/": {
      "get": {
        "operationId": "convert_video_formats_retrieve",
        "description": "Expose supported formats (from static JSON summary).",
        "summary": "List video formats",
        "tags": [
          "video_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "description": "Static video formats summary."
          },
          "404": {
            "description": "operations-new.json not found"
          },
          "500": {
            "description": "Failed to load formats summary"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/docs_core/batch/collect/": {
      "post": {
        "operationId": "apps_docs_core_api_batch_collect",
        "summary": "Batch Collect",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsPayload"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/docs_core/batch/{batch_id}/download/": {
      "get": {
        "operationId": "apps_docs_core_api_batch_download",
        "summary": "Batch Download",
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "schema": {
              "title": "Batch Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Core"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/docs_core/conversion/wait/{conversion_id}/": {
      "get": {
        "operationId": "apps_docs_core_api_conversion_wait",
        "summary": "Conversion Wait",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "title": "Conversion Id",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "timeout",
            "schema": {
              "default": 30.0,
              "maximum": 120.0,
              "minimum": 0.0,
              "title": "Timeout",
              "type": "number"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "default": 0.5,
              "maximum": 2.0,
              "minimum": 0.1,
              "title": "Interval",
              "type": "number"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Core"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/docs_core/conversion/{conversion_id}/": {
      "get": {
        "operationId": "apps_docs_core_api_conversion_info",
        "summary": "Conversion Info",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "title": "Conversion Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Core"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/docs_core/credits/": {
      "get": {
        "operationId": "apps_docs_core_api_credits",
        "summary": "Credits",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Core"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/docs_core/visibility/hide/": {
      "post": {
        "operationId": "apps_docs_core_api_visibility_hide",
        "summary": "Visibility Hide",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisibilityHideResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Use Case\nThis appears to be a data management/cleanup feature that allows users to hide processed documents and free up storage space by removing the associated files from S3, while keeping the conversion records in the database (but marked as not visible).",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsPayload"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/conversion/{conversion_id}/": {
      "get": {
        "operationId": "apps_fonts_views_status_download_get_font_conversion_info",
        "summary": "Get Font Conversion Info",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "title": "Conversion Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionStatusResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Poll a conversion's status. Returns 202 while pending/processing, 200\non terminal state (completed or failed), 404 if no row matches.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/convert/": {
      "post": {
        "operationId": "apps_fonts_views_convert_convert_font_by_key",
        "summary": "Convert Font By Key",
        "parameters": [],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Queue a font conversion for a file already in object storage.\n\nEmits a ``Server-Timing`` header (total wall time) for client-side\nobservability.\n\nFlow:\n  1. Client calls ``/upload/`` (or presigns directly), gets ``s3_key``.\n  2. Client calls this endpoint with ``s3_key`` + ``target_format``.\n  3. Backend records the job, dispatches to ``celery-docs`` worker.\n  4. Worker downloads, converts, uploads result, updates row.\n  5. Client polls ``/conversion/{id}/`` then ``/{id}/download/``.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertByKeyRequest"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/formats/": {
      "get": {
        "operationId": "apps_fonts_views_formats_list_formats",
        "summary": "List Formats",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatsListResponse"
                }
              }
            }
          }
        },
        "description": "Top-level format catalogue: engines, total formats, total routes.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/formats/{input_format}/": {
      "get": {
        "operationId": "apps_fonts_views_formats_get_format_outputs",
        "summary": "Get Format Outputs",
        "parameters": [
          {
            "in": "path",
            "name": "input_format",
            "schema": {
              "title": "Input Format",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatOutputsResponse"
                }
              }
            }
          }
        },
        "description": "Outputs reachable from ``input_format``, with engine + credit cost.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/health/": {
      "get": {
        "operationId": "apps_fonts_views_health_quota_routes_fonts_health",
        "summary": "Fonts Health",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "description": "Engine + storage + recent-activity probe. Cheap to call (no DB write,\none ``head_bucket`` to R2). Suitable for k8s/uptime checks.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/inspect/": {
      "post": {
        "operationId": "apps_fonts_views_inspect_inspect_font_upload",
        "summary": "Inspect Font Upload",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FontMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Inspect an uploaded font's metadata without converting or charging.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "title": "FileParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      },
      "get": {
        "operationId": "apps_fonts_views_inspect_inspect_font_by_key",
        "summary": "Inspect Font By Key",
        "parameters": [
          {
            "in": "query",
            "name": "s3_key",
            "schema": {
              "title": "S3 Key",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FontMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Inspect an already-uploaded object by its storage key (no credit).",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/quota/": {
      "get": {
        "operationId": "apps_fonts_views_health_quota_routes_fonts_quota",
        "summary": "Fonts Quota",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaResponse"
                }
              }
            }
          }
        },
        "description": "Report the caller's current quota state. Does NOT enforce \u2014 only reads.\nAnonymous callers are reported as ``free`` keyed on client IP.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/upload/": {
      "post": {
        "operationId": "apps_fonts_views_upload_upload_font_to_object",
        "summary": "Upload Font To Object",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload a font file to object storage. Returns the storage key to be\npassed to ``POST /convert/``.\n\nEmits a ``Server-Timing`` header (total wall time) for client-side\nobservability.\n\nErrors:\n  400 missing_file / missing_extension / unsupported_format\n  413 file_too_large (admin-configurable via FontsConfig)\n  415 magic_mismatch\n  500 io_error / upload_failed",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "title": "FileParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/validate/": {
      "post": {
        "operationId": "apps_fonts_views_convert_validate_conversion",
        "summary": "Validate Conversion",
        "parameters": [
          {
            "in": "query",
            "name": "target_format",
            "schema": {
              "default": "",
              "title": "Target Format",
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResponse"
                }
              }
            }
          }
        },
        "description": "Validate a (input, target_format) pair without uploading or converting.\nLightweight pre-flight for the UI to disable disallowed routes.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "title": "FileParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/{conversion_id}/download/": {
      "get": {
        "operationId": "apps_fonts_views_status_download_download_font_no_name",
        "summary": "Download Font No Name",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "title": "Conversion Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Download with auto-derived filename from the stored object.",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/fonts/{conversion_id}/download/{filename}": {
      "get": {
        "operationId": "apps_fonts_views_status_download_download_font",
        "summary": "Download Font",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "title": "Conversion Id",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "filename",
            "schema": {
              "title": "Filename",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Download with caller-supplied filename (extension is preserved from\nthe stored object).",
        "tags": [
          "Font Conversion",
          "Font Conversion"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/health/": {
      "get": {
        "operationId": "common_health_views_health",
        "summary": "Health probe \u2014 DB, cache, storage, Celery broker",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "description": "Returns 200 only when **every** dependency is reachable. Returns **503** with a per-component status map if any of DB, cache (Redis), default storage (S3 / local), or Celery broker is down. Public; no authentication required. Intended for uptime monitoring and the deploy health gate.",
        "tags": [
          "Health"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/image_converter/conversion/{conversion_id}/": {
      "get": {
        "operationId": "image_converter_conversion_retrieve",
        "description": "Return details for a stored conversion.",
        "summary": "Retrieve conversion info",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "image_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageConversionDetail"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion not found."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/image_converter/convert/": {
      "post": {
        "operationId": "image_converter_convert_create",
        "description": "Upload an image file (multipart/form-data) OR provide a remote reference. Send exactly one of: 'file' or ('file_url' or 's3_key').\n\n- file_url: a public or pre-signed URL the worker can GET.\n- s3_key: S3 object key in your bucket (worker downloads via IAM).\nWhen hiding, the service will delete any stored output and the original S3 object if 's3_key' was provided.",
        "summary": "Convert an image",
        "tags": [
          "image_converter"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageConvert"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageConvert"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrl"
                }
              }
            },
            "description": "Conversion succeeded."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation or fetch error."
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Free quota exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion failure."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/image_converter/formats/": {
      "get": {
        "operationId": "image_converter_formats_retrieve",
        "description": "Expose supported formats (from static JSON summary).",
        "summary": "List image formats",
        "tags": [
          "image_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "description": "Static image formats summary."
          },
          "404": {
            "description": "operations-new.json not found"
          },
          "500": {
            "description": "Failed to load formats summary"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/image_converter/history/": {
      "get": {
        "operationId": "image_converter_history_retrieve",
        "description": "Return paginated conversion history for an authenticated media user.",
        "summary": "List conversion history",
        "tags": [
          "image_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageConversionHistoryResponse"
                }
              }
            },
            "description": ""
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/image_converter/operations/": {
      "get": {
        "operationId": "image_converter_operations_retrieve",
        "description": "Return image operations enriched with dynamic options.\n\nReads engines/operations.json and attaches a per-format option set and\nengine version info, returning a CloudConvert-like response format.",
        "summary": "List image operations",
        "parameters": [
          {
            "in": "query",
            "name": "engine",
            "schema": {
              "type": "string"
            },
            "description": "Engine filter (e.g., imagemagick, pillow)"
          },
          {
            "in": "query",
            "name": "input",
            "schema": {
              "type": "string"
            },
            "description": "Input format (e.g., png)"
          },
          {
            "in": "query",
            "name": "options_only",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, return only the options for the first matching operation"
          },
          {
            "in": "query",
            "name": "output",
            "schema": {
              "type": "string"
            },
            "description": "Output format (e.g., jpg)"
          }
        ],
        "tags": [
          "image_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageOperationsResponse"
                }
              }
            },
            "description": ""
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/media_core/batch/collect/": {
      "post": {
        "operationId": "media_core_batch_collect_create",
        "description": "Create a ZIP for a set of conversions (and/or batches) and return one link.\n\nPOST /api/v1/media_core/batch/collect/\nBody: { \"ids\": [\"<conversion_or_batch_id>\", ...] }\n- Expands any batch IDs into their items\n- Requires all items be the same category (image or video)\n- Creates a new ConversionBatch and enqueues a zipper job\n- Returns 202 with { batch_id, status, download_url }",
        "summary": "Collect multiple items into one ZIP",
        "tags": [
          "core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCollectRequest"
              },
              "examples": {
                "CollectConversions": {
                  "value": {
                    "ids": [
                      "4a5b2d44-1b9b-4e2a-9f1d-9a7d9d4c0a11",
                      "9c7e1f22-3a6c-4b11-8d77-2a1bfe7f3a9f"
                    ]
                  },
                  "summary": "Collect conversions"
                },
                "CollectAnExistingBatch": {
                  "value": {
                    "ids": [
                      "d1499be9-f28e-471c-9cf2-2102317cc2df"
                    ]
                  },
                  "summary": "Collect an existing batch"
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCollectAccepted"
                }
              }
            },
            "description": "Batch accepted; ZIP will be prepared."
          },
          "400": {
            "description": "Invalid request or mixed categories"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/media_core/batch/{batch_id}/download/": {
      "get": {
        "operationId": "media_core_batch_download_retrieve",
        "description": "Stream a batch ZIP file containing multiple conversions without exposing the S3 URL.",
        "summary": "Download batch ZIP",
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "core"
        ],
        "responses": {
          "200": {
            "description": "ZIP file stream"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDownloadPendingResponse"
                }
              }
            },
            "description": "Batch still processing"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Batch not found or ZIP unavailable"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/media_core/conversion/wait/{conversion_id}/": {
      "get": {
        "operationId": "media_core_conversion_wait_retrieve",
        "description": "Blocks up to `timeout` seconds waiting for the conversion (image/video) or batch ZIP to finish. Returns 200 with `completed=true` and a masked `download_url` if done, or 202 with `completed=false` if still processing. Pass either a conversion id (int/uuid) or a batch id (uuid).",
        "summary": "Wait for conversion or batch completion",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Polling interval in seconds (default 0.5)"
          },
          {
            "in": "query",
            "name": "timeout",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Seconds to wait before returning (default 30, max 120)"
          }
        ],
        "tags": [
          "core"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionWaitDone"
                }
              }
            },
            "description": "Conversion finished."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionWaitPending"
                }
              }
            },
            "description": "Conversion still processing."
          },
          "404": {
            "description": "Conversion not found"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/media_core/conversion/{conversion_id}/": {
      "get": {
        "operationId": "media_core_conversion_retrieve",
        "description": "Pass either a single conversion ID (image/video) or a batch ID. Returns a masked `download_url` when ready.",
        "summary": "Get unified download link",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "core"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionInfoReady"
                },
                "examples": {
                  "ConversionID": {
                    "value": {},
                    "summary": "Conversion ID",
                    "description": "Resolve a single conversion to one download URL"
                  },
                  "BatchID": {
                    "value": {},
                    "summary": "Batch ID",
                    "description": "Resolve a batch (zip) to one download URL"
                  }
                }
              }
            },
            "description": "Download available."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionInfoPending"
                }
              }
            },
            "description": "Still processing."
          },
          "404": {
            "description": "Not found"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/media_core/credits/": {
      "get": {
        "operationId": "media_core_credits_retrieve",
        "description": "For authenticated users, returns balance from auth claims. For anonymous visitors, returns remaining daily credits based on usage today.",
        "summary": "Get remaining credits",
        "tags": [
          "core"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsResponse"
                }
              }
            },
            "description": ""
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/media_core/files/{conversion_id}/download/": {
      "get": {
        "operationId": "media_core_files_download_retrieve",
        "description": "Stream a converted file (image or video) without exposing the S3 URL.",
        "summary": "Download converted media file",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string"
            },
            "description": "Output format (e.g., jpg, png, mp4). If omitted, selects the default format."
          }
        ],
        "tags": [
          "core"
        ],
        "responses": {
          "200": {
            "description": "File stream"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion or format not found"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/media_core/health/": {
      "get": {
        "operationId": "media_core_health_retrieve",
        "description": "Liveness probe endpoint that returns service health status with version and timestamp.",
        "summary": "Health check",
        "tags": [
          "core"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            },
            "description": "Service is healthy"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/media_core/visibility/hide/": {
      "post": {
        "operationId": "media_core_visibility_hide_create",
        "description": "Bulk hide items (conversions and/or batches) by IDs.\n\nPOST /api/v1/media_core/visibility/hide/\nBody: { \"ids\": [\"<id1>\", \"<id2>\", ...] }\n- Marks matching ImageConversion, VideoConversion, and ConversionBatch records is_visable=False\n- Returns counts of updated records",
        "summary": "Hide multiple items",
        "tags": [
          "core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisibilityHideRequest"
              },
              "examples": {
                "HideConversions": {
                  "value": {
                    "ids": [
                      "75586dc4-46b9-4de7-b144-a4f2511129bb",
                      "604b08b4-d59d-4ef8-8568-0e047c626753"
                    ]
                  },
                  "summary": "Hide conversions"
                },
                "HideABatch": {
                  "value": {
                    "ids": [
                      "fe1cd5c2-3af0-482d-a85b-451718da491f"
                    ]
                  },
                  "summary": "Hide a batch"
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisibilityHideResponse"
                }
              }
            },
            "description": ""
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/model/conversion/{conversion_id}/": {
      "get": {
        "operationId": "model_conversion_retrieve",
        "description": "Return details for a stored 3D model conversion.",
        "summary": "Retrieve 3D model conversion info",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "model_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelConversionDetail"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion not found."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/model/convert/": {
      "post": {
        "operationId": "model_convert_create",
        "description": "Upload a 3D model file (multipart/form-data) OR provide a remote reference. Send exactly one of: 'file' or ('file_url' or 's3_key').",
        "summary": "Convert a 3D model",
        "tags": [
          "model_converter"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ModelConvert"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelConvert"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrl"
                }
              }
            },
            "description": "Conversion accepted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error."
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Free quota exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conversion failure."
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/model/formats/": {
      "get": {
        "operationId": "model_formats_retrieve",
        "description": "Expose supported 3D model input/output formats.",
        "summary": "List 3D model formats",
        "tags": [
          "model_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelSupportedFormats"
                }
              }
            },
            "description": ""
          },
          "500": {
            "description": "Failed to load formats summary"
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/model/operations/": {
      "get": {
        "operationId": "model_operations_retrieve",
        "description": "Return 3D model operations from the engine operations map.",
        "summary": "List 3D model operations",
        "parameters": [
          {
            "in": "query",
            "name": "engine",
            "schema": {
              "type": "string"
            },
            "description": "Engine filter (e.g., assimp)"
          },
          {
            "in": "query",
            "name": "input",
            "schema": {
              "type": "string"
            },
            "description": "Input format (e.g., obj, fbx)"
          },
          {
            "in": "query",
            "name": "options_only",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, return only the options for the first matching operation"
          },
          {
            "in": "query",
            "name": "output",
            "schema": {
              "type": "string"
            },
            "description": "Output format (e.g., glb, stl)"
          }
        ],
        "tags": [
          "model_converter"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "cookieAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelOperationsResponse"
                }
              }
            },
            "description": ""
          }
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "drf-spectacular"
      }
    },
    "/api/v1/pdf_handler/conversion/{conversion_id}/": {
      "get": {
        "operationId": "apps_pdf_handler_views_history_views_get_conversion_status",
        "summary": "Get Conversion Status",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "title": "Conversion Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Return conversion status with per-format URLs.",
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/convert/": {
      "post": {
        "operationId": "apps_pdf_handler_views_convert_views_convert_documents_form",
        "summary": "Convert a document",
        "parameters": [],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentConversionAccepted"
                }
              }
            }
          }
        },
        "description": "Multipart upload for file conversions. Choose one source only: file OR url OR s3_key. Provide `target_formats` as a comma-separated list (e.g. 'pdf,docx') or a JSON list string (e.g. ['pdf','docx']).",
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "File"
                  },
                  "file_url": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "File Url"
                  },
                  "s3_key": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "S3 Key"
                  },
                  "target_formats": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Target Formats"
                  },
                  "destination": {
                    "default": "aws",
                    "enum": [
                      "aws",
                      "google_drive",
                      "dropbox",
                      "box",
                      "onedrive"
                    ],
                    "title": "Destination",
                    "type": "string"
                  },
                  "redirect_url": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Redirect Url"
                  },
                  "engine": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Engine"
                  },
                  "folder_path": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Folder Path"
                  },
                  "box_folder_id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Box Folder Id"
                  },
                  "options": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Options"
                  }
                },
                "title": "MultiPartBodyParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/convert/json/": {
      "post": {
        "operationId": "apps_pdf_handler_views_convert_views_convert_documents",
        "summary": "Convert a document (JSON)",
        "parameters": [],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentConversionAccepted"
                }
              }
            }
          }
        },
        "description": "JSON body. Provide `url` or `s3_key` and `target_formats`. You can also include `options` for PDF operations (routes to pdf_ops). Use /convert/ for file uploads.",
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "title": "MultiPartBodyParams",
                "type": "object",
                "properties": {
                  "destination": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Destination"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "file": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "File"
                  },
                  "data": {
                    "$ref": "#/components/schemas/DocumentSchema"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/form-fields/": {
      "post": {
        "operationId": "apps_pdf_handler_views_form_views_list_form_fields",
        "summary": "List the fillable form fields in a PDF",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Reads a PDF's AcroForm and returns its fields, so a client can render inputs for them and submit the values back as the `form_fields` conversion option.",
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "title": "FileParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/formats/": {
      "get": {
        "operationId": "apps_pdf_handler_views_formats_views_get_supported_document_types",
        "summary": "Get Supported Document Types",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/history/": {
      "get": {
        "operationId": "apps_pdf_handler_views_history_views_list_history",
        "summary": "List History",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "title": "Page",
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "default": 20,
              "title": "Page Size",
              "type": "integer"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Return only current user's conversions, paginated and ordered by -created_at.",
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/operations/": {
      "get": {
        "operationId": "apps_pdf_handler_views_operations_views_get_operations_for_pair",
        "summary": "Get Operations For Pair",
        "parameters": [
          {
            "in": "query",
            "name": "input",
            "schema": {
              "title": "Input",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "output",
            "schema": {
              "title": "Output",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Return operation spec(s) and options for a given (input, output) pair.",
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/pipeline/": {
      "get": {
        "operationId": "apps_pdf_handler_views_pipeline_views_list_pipelines",
        "summary": "List saved pipelines",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      },
      "post": {
        "operationId": "apps_pdf_handler_views_pipeline_views_create_pipeline",
        "summary": "Create a saved pipeline",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineIn"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/pipeline/{pipeline_id}/": {
      "get": {
        "operationId": "apps_pdf_handler_views_pipeline_views_get_pipeline",
        "summary": "Get a saved pipeline",
        "parameters": [
          {
            "in": "path",
            "name": "pipeline_id",
            "schema": {
              "title": "Pipeline Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      },
      "delete": {
        "operationId": "apps_pdf_handler_views_pipeline_views_delete_pipeline",
        "summary": "Delete a saved pipeline",
        "parameters": [
          {
            "in": "path",
            "name": "pipeline_id",
            "schema": {
              "title": "Pipeline Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/pipeline/{pipeline_id}/run/": {
      "post": {
        "operationId": "apps_pdf_handler_views_pipeline_views_run_pipeline",
        "summary": "Run a saved pipeline on a PDF",
        "parameters": [
          {
            "in": "path",
            "name": "pipeline_id",
            "schema": {
              "title": "Pipeline Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "title": "FileParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/save/": {
      "post": {
        "operationId": "apps_pdf_handler_views_pypdf_views_save_pdf",
        "summary": "Save an edited PDF and deliver to destination",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Accepts a final edited PDF from the front-end editor and uploads it to the selected destination (AWS S3 by default, also supports Google Drive, Dropbox, Box, OneDrive). Returns a download link or remote URL.",
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "File"
                  },
                  "file_base64": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "File Base64"
                  },
                  "filename": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Filename"
                  },
                  "destination": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Destination"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "title": "MultiPartBodyParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/scan/pair/": {
      "get": {
        "operationId": "apps_pdf_handler_views_scanner_pair_views_read_paired_session",
        "summary": "Phone: read a paired scan session",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/scan/pair/pages/": {
      "post": {
        "operationId": "apps_pdf_handler_views_scanner_pair_views_upload_page",
        "summary": "Phone: upload a captured page",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "title": "FileParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/scan/pair/pages/{page_id}/": {
      "delete": {
        "operationId": "apps_pdf_handler_views_scanner_pair_views_delete_page",
        "summary": "Phone: discard a captured page",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "schema": {
              "title": "Page Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/scan/sessions/": {
      "post": {
        "operationId": "apps_pdf_handler_views_scanner_views_create_scan_session",
        "summary": "Open a phone-scan session",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/scan/sessions/{session_id}/": {
      "get": {
        "operationId": "apps_pdf_handler_views_scanner_views_get_scan_session",
        "summary": "Poll a phone-scan session",
        "parameters": [
          {
            "in": "path",
            "name": "session_id",
            "schema": {
              "title": "Session Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/scan/sessions/{session_id}/finalize/": {
      "post": {
        "operationId": "apps_pdf_handler_views_scanner_views_finalize_scan_session",
        "summary": "Queue assembly of the captured pages into a PDF",
        "parameters": [
          {
            "in": "path",
            "name": "session_id",
            "schema": {
              "title": "Session Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/signing/sessions/": {
      "post": {
        "operationId": "apps_pdf_handler_views_signing_views_create_session",
        "summary": "Create a multi-party signing session",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  },
                  "emails": {
                    "title": "Emails",
                    "type": "string"
                  },
                  "title": {
                    "default": "",
                    "title": "Title",
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "emails"
                ],
                "title": "MultiPartBodyParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/signing/sessions/{session_id}/": {
      "get": {
        "operationId": "apps_pdf_handler_views_signing_views_get_session",
        "summary": "Get a signing session",
        "parameters": [
          {
            "in": "path",
            "name": "session_id",
            "schema": {
              "title": "Session Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "security": [
          {
            "CookieOrBearerAuth": []
          }
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/signing/sign/{token}/": {
      "get": {
        "operationId": "apps_pdf_handler_views_signing_views_view_to_sign",
        "summary": "Participant: view a document to sign",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "schema": {
              "title": "Token",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      },
      "post": {
        "operationId": "apps_pdf_handler_views_signing_views_submit_signature",
        "summary": "Participant: sign",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "schema": {
              "title": "Token",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/signing/sign/{token}/certificate/": {
      "post": {
        "operationId": "apps_pdf_handler_views_signing_cert_views_upload_certificate",
        "summary": "Participant: attach a public identity certificate",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "schema": {
              "title": "Token",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "title": "FileParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/signing/sign/{token}/decline/": {
      "post": {
        "operationId": "apps_pdf_handler_views_signing_views_decline",
        "summary": "Participant: decline",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "schema": {
              "title": "Token",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/signing/sign/{token}/wet-signature/": {
      "post": {
        "operationId": "apps_pdf_handler_views_signing_cert_views_upload_wet_signature",
        "summary": "Participant: attach a drawn signature image",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "schema": {
              "title": "Token",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "PDF Handler"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "title": "File",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "title": "FileParams",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-indox-sdk-tier": "adv",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/pdf_handler/{conversion_id}/download/": {
      "get": {
        "operationId": "apps_pdf_handler_views_history_views_download_conversion_file",
        "summary": "Download Conversion File",
        "parameters": [
          {
            "in": "path",
            "name": "conversion_id",
            "schema": {
              "title": "Conversion Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "If output is an http URL, redirect to it; else stream from S3/local.",
        "tags": [
          "PDF Handler"
        ],
        "x-indox-sdk-tier": "p0",
        "x-indox-schema-source": "live"
      }
    },
    "/api/v1/subscription/credits/balance/": {
      "get": {
        "operationId": "apps_subscription_views_credit_api_clean_get_credit_balance",
        "summary": "Get the authenticated user's credit balance. 9.11",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalanceResponse"
                }
              }
            }
          }
        },
[...]
